#queryWaterBill {
    .desc {
        padding-left: 10px;
        line-height: 1.5;
        color: #ffffff;
        font-size: 14px;
    }
    .formWrapper {
        background-color: #ffffff;
        border-radius: 8px;
        overflow: hidden;
        .buttonWrapper {
            margin: 20px;
        }
    }
    .billList {
        .ctrlWrapper {
            margin: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .switchWrapper, .buttonWrapper {
                flex: 1;
                display: flex;
                align-items: center;
            }
            .switchWrapper {
                padding: 10px 5px;
                span {
                    margin-left: 10px;
                    font-size: 14px;
                    color: #707070;
                }
            }
            .buttonWrapper {
                /deep/.van-button {
                    margin-left: 50%;
                }
            }
        }
        /deep/.van-list__loading, /deep/.van-list__finished-text {
            background-color: #ffffff;
        }
    }
}