#register {
	.desc {
        padding-left: 10px;
        line-height: 1.5;
        color: #ffffff;
        font-size: 14px;
    }
	.container {
		.formWrapper {
			border-radius: 8px;
			overflow: hidden;
		}
		.button {
			margin: 20px;
		}
	}
}