#user {
    .titleWrapper {
        padding: 0 30px;
        display: flex;
        align-items: center;
        width: 100%;
        height: 20vw;
        background-color: #39a9ed;
        p {
            line-height: 1.5;
            color: #ffffff;
        }
    }
    .container {
        .tipWrapper {
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #ffffff;
            border-radius: 8px;
            overflow: hidden;
            h4 {
                margin: 20px 0;
            }
        }
        .userList {
            border-radius: 8px;
            overflow: hidden;
            /deep/.van-list__loading, /deep/.van-list__finished-text {
                background-color: #ffffff;
            }
        }
    }
}