#userInfo {
	.desc {
        padding-left: 10px;
        line-height: 1.5;
        color: #ffffff;
        font-size: 14px;
    }
    .container {
        .infoWrapper {
            margin-bottom: 20px;
            border-radius: 8px;
            overflow: hidden;
        }
    }
}