#user {
    .container {
        .tipWrapper {
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #ffffff;
            border-radius: 8px;
            overflow: hidden;
            h4 {
                margin: 20px 0;
            }
        }
        .userList {
            border-radius: 8px;
            overflow: hidden;
            .buttonWrapper {
                margin: 20px 0;
                text-align: center;
            }
        }
    }
}