#waterBillList {
    .info {
		margin-bottom: 8px;
		padding-left: 10px;
		display: flex;
		align-items: center;
		color: #ffffff;
		font-size: 14px;
		.iconWrapper {
			margin-left: 5px;
		}
	}
	.yearPickerWrapper {
		margin: 6px 0;
	}
	.container {
		.tip {
			display: flex;
			justify-content: center;
		}
	}
}